// 给项目提供全局scss变量

// 主题颜色
$theme-color: #589fea;
// 左侧菜单的背景颜色
$base-menu-bgc: #f6f9fe;
// 内容背景颜色
$base-bgc: #f2f2f2;

// 左侧菜单的宽度
$base-menu-width: 200px;

// 边框样式
$border: 1px solid #e5e7eb;

// 灰色字体
$font-color: #6b7280;

// 分割线颜色
$dividing-line-color: #d8d0d0;
